<h1>Lemans Corp Exercise</h1>
<hr>
<h4>Quick Survey</h4>
<hr>
<strong>Acceptance Criteria</strong>
<ul class="acceptance-criteria">
    <li>
        <span>Single Page App</span>
    </li>
    <li>
        <span>One Question with Multiple Choice Answers</span>
        <ul>
            <li>Submit Button</li>
            <li>Start Over Button (results page)</li>
        </ul>
    </li>
    <li>
        <span>Display Results (cummulative)</span>
    </li>
</ul>
<div class="form-group">
	<a class="btn btn-success btn-lg" type="button" href="#/survey/-KPcOFhzjjbDttsLTdv_">Go To Question</a>
</div>
